.game-board {
  margin: auto;
  position: relative;
  top: 15px;
  width: 650px;
  height: 650px;
  border-radius: 10px;
  text-align: center;
  line-height: 650px;
  color: red;
  font-family: 'Lobster', cursive;
  font-size: 48px;

}

.game-card {
  position: absolute;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image : url(../IMG/title.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px

}

.game-card:hover {
  filter: brightness(125%);
}

.game-score {
  text-align: center;
}

.game-start {
  padding: 15px;
  background: red;
  color: black;
  border: 0;
  font-family: 'Lobster', cursive;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  font-size: 28px;
  margin: 80px auto;
}

.game-start:hover{
  filter: brightness(125%);

}
.game-background {
  height: 850px;
  background-image: url(../IMG/background_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
